* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0b0b0b;
  color: white;
}

.navbar {
  background: black;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  color: crimson;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, black, darkred);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section {
  padding: 80px 60px;
  text-align: center;
}

.dark {
  background: #111;
}

.cards, .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card, .img-box {
  background: #222;
  padding: 30px;
  border-radius: 10px;
}

footer {
  background: black;
  text-align: center;
  padding: 20px;
}

/* Animations */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  nav.active {
    display: flex;
  }

  nav a {
    margin: 15px;
  }

  .section {
    padding: 40px 20px;
  }
}
